body {
  background: linear-gradient(135deg, rgb(29, 29, 29), #00223e);
  font-family: 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 2em;
  color: rgb(168, 39, 7)135, 105);
  text-shadow: 2px 2px 4px #000000;
}

h2, h3, h4 {
  color: #cbf3f0;
}

.buttons input[type="button"] {
  background-color: rgb(53, 6, 64), 139, 255);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons input[type="button"]:hover {
  background-color: #1c044b71;
}

.temperature-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  text-align: center;
  margin-bottom: 20px; /* Ajusta según sea necesario */
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; /* Ajusta al ancho del contenedor si es necesario */
}

.NTC_Temperatue_show, .NTC_Temperatue_panel {
  flex-basis: 45%; /* Ajusta este valor según sea necesario */
  margin: 10px;
}

.RGBcontrol_panel input[type="range"] {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 10px;
  background: #2ec4b6;
  outline: none;
}

.RGBcontrol_panel input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0c0357;
  cursor: pointer;
}

.LEDControlPanel input[type="range"] {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 10px;
  background: #2e72c4;
  outline: none;
}

.LEDControlPanel input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d5211;
  cursor: pointer;
}

#circulo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fdfffc;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.control-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.RGBcontrol_panel, .LEDControlPanel {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

/* Si deseas centrar los controles y no expandirlos completamente */
.control-panel-container {
  max-width: 1200px; /* Ajusta esto según la anchura que prefieras */
  margin: auto; /* Esto centrará el contenedor */
}

#RGB_Control section {
  display: block; /* Cada sección ocupará toda la línea */
}

#RGB_Control {
  margin-bottom: 20px; /* Espacio debajo del control RGB antes del hr */
}

hr {
  border: 0;
  height: 2px;
  background-color: #333; /* Color de la línea */
  margin: 20px 0; /* Espacio arriba y abajo del hr */
}

.custom-divider {
  border: 0;  /* Elimina el borde predeterminado */
  height: 2px; /* Establece la altura de la línea */
  background-color: #333; /* Cambia el color de la línea a gris oscuro */
  margin: 20px 0; /* Añade espacio antes y después de la línea */
}